{% extends "base/basepage.html" %}
{% block js %}
<script type="text/javascript">
function username_change(){
   var username= $j('#ygbh').val();
    if(!username){
        return;
    }
    $j.get('/oa/check_username/',{'username':username},function(data){
        if(typeof data =='string'){
            data=JSON2.parse(data);
        }
        if(data.success){
            document.getElementById("username_error").className="green_star";
            $j('#username_error').html('OK. "'+username+'" 可用。')
        }else{
            document.getElementById("username_error").className="red_star";
            $j('#username_error').html('"'+username+'" '+data.message);
        }
    });

}
</script>
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="javascript:void(0);">员工管理</a> >><a  href="/oa/depatementAdd">添加新职务</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/oa/depatementSave/" onsubmit="return valSubmit('register','autosubmit','userid');">
<input type="hidden" id="userid" name="userid" {% if person %}value="{{ person.id }}"{% endif %}/>
<div>
    <table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
      <tr  bgcolor="#ffffff">
        <td style="padding-left:5px;"  width="100px" >员工ID:</td>

        <td>
          <input type="text" id="ygbh" name="ygbh" onchange="username_change()" onblur="username_change()"   val="{'required':true,'title':'员工ID'}" value="{{person.username}}" style="width:300px;"/>  <span class="red_star">*</span><span class="red_star" id="username_error"></span>  </td>
      </tr>

      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >员工姓名:</td>

        <td>
    	  <input type="text" name="truename" val="{'required':true,'title':'员工姓名'}"   value="{{person.get_full_name}}"  style="width:300px;"/><span class="red_star">*</span>	</td>
      </tr>

      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >员工性别:</td>

        <td>
    	  <input type="radio" name="sex" value="0" checked="checked" /><label>女</label><input type="radio" name="sex" value="1" /><label>男</label>	</td>
      </tr>
      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >员工电话:</td>

        <td>
    	  <input type="text" name="tel" val="{'required':true,'title':'员工电话','type':'int'}"  value="{{person.person.tel}}"  style="width:300px;"/><span class="red_star">*</span>	</td>
      </tr>
        <tr bgcolor="#ffffff" >
           <td style="padding-left:5px;" >上司:</td>

           <td>
       	  <select name="bmid"  style="width:300px;">
                 <option value="">暂时不选择部门</option>
       	  </select>
               <span class="red_star">*</span>	</td>
         </tr>


      <tr bgcolor="#ffffff" >
        <td  align="left"  style="padding-left:25px;" colspan="2" >
          <input type="submit" name="Submit" value="确定"/>
    	  <input type="reset" name="Reset" value="重置"/>
    	  <input type="button" name="Return" value="返回" onClick="javascript:history.back(-1);" />

        </td>
      </tr>
    </table>

</div>
</div>
  
</form>
{% endblock %}