{% extends "base/basepage.html" %}
{% block js %}
<script type="text/javascript">
function username_change(){
   var username= $j('#ygbh').val();
    if(!username){
        return;
    }
    $j.get('/oa/check_username/',{'username':username},function(data){
        if(typeof data =='string'){
            data=JSON2.parse(data);
        }
        if(data.success){
            document.getElementById("username_error").className="green_star";
            $j('#username_error').html('OK. "'+username+'" 可用。')
        }else{
            document.getElementById("username_error").className="red_star";
            $j('#username_error').html('"'+username+'" '+data.message);
        }
    });

}
</script>
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="javascript:void(0);">职务管理</a> >><a  href="/oa/depatementAdd/">添加新职务</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/oa/depatementSave/" onsubmit="return valSubmit('register','autosubmit','depatementid');">
<input type="hidden" id="depatementid" name="depatementid" {% if depatement %}value="{{ depatement.id }}"{% endif %}/>
<div>
    <table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
      <tr  bgcolor="#ffffff">
        <td style="padding-left:5px;"  width="100px" >职务名称:</td>

        <td>
          <input type="text" id="name" name="name"  val="{'required':true,'title':'职务名称'}" value="{{depatement.name}}" style="width:300px;"/>  <span class="red_star">*</span><span class="red_star" id="username_error"></span>  </td>
      </tr>

      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >任职人员:</td>

        <td>
    	<select name="managerid" style="width: 300px;">
            <option value="">暂时不任命</option>
        {% for u in userall %}

            <option value="{{u.id }}" {% if depatement.manager %}{% ifequal u.id depatement.manager.id %} selected="selected" {% endifequal %}{% endif %}>{{ u.username }}:{{ u.get_full_name }}</option>
        {% endfor %}
    	</select>
        </td>
      </tr>


        <tr bgcolor="#ffffff" >
           <td style="padding-left:5px;" >上司:</td>

           <td>
       	  <select name="depatementfatherid"  style="width:300px;">
                 <option value="">暂时不选择</option>
                 {% for d in depatementlist %}
                 <option value="{{ d.id }}"{% if depatement and depatement.fatherDepart %} {% ifequal d.id depatement.fatherDepart.pk %} selected="selected" {% endifequal %}{% endif %}>{% if d.manager %}{{ d.manager.username }}:{{ d.manager.get_full_name }}{% else %}空职务{% endif %}:{{ d.name }}</option>
                 {% endfor %}
       	  </select>
               	</td>
         </tr>


      <tr bgcolor="#ffffff" >
        <td  align="left"  style="padding-left:25px;" colspan="2" >
          <input type="submit" name="Submit" value="确定"/>
    	  <input type="reset" name="Reset" value="重置"/>
    	  <input type="button" name="Return" value="返回" onClick="javascript:history.back(-1);" />

        </td>
      </tr>
    </table>

</div>
</form>
{% endblock %}