{% extends "base/basepage.html" %}
{% block prejs %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/Calendar3.js" />
    {% endblock %}
{% block js %}
<script type="text/javascript">

$j(function(){
    document.getElementById("pageiframe").style.height=document.getElementsByTagName('body')[0].clientHeight-345;
});
function submintForm(){
    $j('#register').submit();
}
function submintForm2(){
    setTimeout(submintForm,1000);

}
</script>

<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>

{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="javascript:void(0);">数据导出</a> >><a  href="/oa/userqiandaoQuery/">用户签到查询</a>   >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="get" action="/oa/userListPage/" target="userlist" >
<div>
    <table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
          <tr  bgcolor="#ffffff">
            <td style="padding-left:5px;"  width="100px" >厅台:</td>

            <td>
                <select name="userid" onselect="submintForm()"  onchange="submintForm()"  style="width:300px;">
                      {% for d in officelist %}
                             <option value="{{ d.id }}"
                             {% if office  %}
                             {% ifequal office.id d.id  %}
                             selected="selected"
                             {% endifequal %}
                             {% endif %}>
                                 {{ d.name }}
                                 {% if d.isdel %}<span style="color:red;">&nbsp;&nbsp;已删除</span>{% endif %}
                             </option>
                      {% endfor %}
                  </select>
               </td>
          </tr>
          <tr bgcolor="#ffffff" >
            <td style="padding-left:5px;" >查询日期:</td>

            <td>
        	  <input type="text" name="startdate"  onchange="submintForm()" val="{'required':true,'title':'查询起日期'}"   value="{{today}}" onclick="new Calendar().show(this);" readonly="readonly" style="width:300px;"/></td>
          </tr>


          <tr bgcolor="#ffffff" >
            <td  align="left"  style="padding-left:25px;" colspan="2" >
              <input type="submit" name="Submit" value="查询"/>
                <input type="reset" name="Reset" value="清空" onclick="submintForm2()"/>

            </td>
          </tr>
        <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >厅台GPS:</td>

        <td>
          {% if office and office.gps %}{{ office.gps }}{% else %}暂无{% endif %}</td>
        </tr>
        <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >厅台位置:</td>

        <td>
            {% if office and office.address %}{{ office.address }}{% else %}暂无{% endif %}</td>
        </tr>
          </table>
    <table width="90%"  id="fromtable2" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
        <tr  bgcolor="#ffffff" >
        <td align="center"    width="50px">序号</td>
        <td align="center"    width="100px">员工ID</td>
        <td align="center"   width="100px">姓名</td>
        <td align="center"   width="100px">时间</td>
        <td align="center"   width="150px">gps信息</td>
        <td >地址</td>
        <td align="center"   width="100px">操作</td>
        </tr>
        {% for u in query %}
            <tr  bgcolor="#ffffff" >
            <td align="center"    >{{ forloop.counter }}</td>
            <td align="center"    >{{ u.user.username }}</td>
            <td align="center"   >{{ u.user.get_full_name }}</td>
            <td align="center"   >{{ u.dateTime|date:'Y-m-d H:M:S' }}</td>
            <td align="center"   >{{ u.gps }}</td>
            <td >{{ u.address }}</td>
            <td align="center" ><a href="">设置此地址为厅台gps</a></td>
            </tr>
        {% endfor %}
    </table>

    <iframe id="pageiframe" width="90%" height="100%" frameborder="0" name="userlist" src="/oa/userListPage/" ></iframe>

</div>
</div>

</form>
{% endblock %}