{% extends "base/basepage.html" %}
{% block js %}
<script type="text/javascript">
$j(function(){
    document.getElementById("pageiframe").style.height=document.getElementsByTagName('body')[0].clientHeight-345;
});
function submintForm(){
    $j('#register').submit();
}
function submintForm2(){
    setTimeout(submintForm,1000);

}
</script>
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="javascript:void(0);">员工管理</a> >><a  href="/oa/userAdd">添加新用户</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form id="register"  method="get" action="/oa/userListPage/" target="userlist" >
<div>
    <table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
      <tr  bgcolor="#ffffff">
        <td style="padding-left:5px;"  width="100px" >员工ID:</td>

        <td>
          <input type="text" id="ygbh" name="ygbh" onchange="submintForm()"    val="{'required':true,'title':'员工ID'}" value="{{person.username}}" style="width:300px;"/>  <span class="red_star" id="username_error"></span>  </td>
      </tr>

      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >员工姓名:</td>

        <td>
    	  <input type="text" name="truename"  onchange="submintForm()" val="{'required':true,'title':'员工姓名'}"   value="{{person.get_full_name}}"  style="width:300px;"/>	</td>
      </tr>


      <tr bgcolor="#ffffff" >
        <td style="padding-left:5px;" >员工电话:</td>

        <td>
    	  <input type="text" name="tel"  onchange="submintForm()" val="{'required':true,'title':'员工电话','type':'int'}"  value="{{person.person.tel}}"  style="width:300px;"/>	</td>
      </tr>
    <tr bgcolor="#ffffff" >
       <td style="padding-left:5px;" >职务:</td>

       <td>
      <select name="depate" onselect="submintForm()"  onchange="submintForm()"  style="width:300px;">
             <option value="">暂时不选择</option>
          {% for d in depatelist %}
                 <option value="{{ d.id }}">
                     {% if d.manager %}{{ d.manager.username }}:{{ d.manager.get_full_name }}{% else %}空职务{% endif %}:{{ d.name }}
                     {% if d.isdel %}<span style="color:red;">&nbsp;&nbsp;已删除</span>{% endif %}
                 </option>
          {% endfor %}
      </select>
            </td>
     </tr>
    <tr bgcolor="#ffffff" >
       <td style="padding-left:5px;" >是否离职:</td>

       <td>
     <input type="radio" name="isdel" value="0" checked="checked" onclick="submintForm()"><label>未离职</label>
     <input type="radio" name="isdel" value="1" onclick="submintForm()"><label>已离职</label>
            </td>
     </tr>


      <tr bgcolor="#ffffff" >
        <td  align="left"  style="padding-left:25px;" colspan="2" >
          <input type="submit" name="Submit" value="过滤"/>
            <input type="reset" name="Reset" value="清空" onclick="submintForm2()"/>

        </td>
      </tr>
      </table>
    <table width="90%"  id="fromtable2" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
        <tr  bgcolor="#ffffff" >
        <td align="center"    width="50px">序号</td>
        <td align="center"    width="100px">员工ID</td>
        <td align="center"   width="100px">姓名</td>
        <td align="center"   width="100px">性别</td>
        <td align="center"   width="100px">电话</td>
        <td align="center"   width="100px">上司</td>
        <td align="center"   width="100px">职务</td>
        <td align="center"   width="100px">是否离职</td>
        <td align="center"  >操作</td>
        </tr>
    </table>

    <iframe id="pageiframe" width="90%" height="100%" frameborder="0" name="userlist" src="/oa/userListPage/" ></iframe>

</div>
</div>
  
</form>
{% endblock %}