<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<link href="{{STATIC_URL}}css/css.css" rel="stylesheet" type="text/css">
   <style>
       body{
           margin: 0px;
           padding: 0px;
       }
       #userlistpage td{
           text-align: center;
           background-color: #ffffff;
           padding-left: 10px;
       }
       #userlistpage td a{
           margin-right: 10px;
       }
       #userlistpage tr{
           height: 25px;
       }
   </style>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js" >
    </script>
     <script type="text/javascript" src="{{STATIC_URL}}js/artDialog.js?skin=blue" >
    </script>
    <script src="{{STATIC_URL}}js/artDialogframe.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/val.js" >
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/json2.js" >
    </script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(function(){
            $j.ajaxSetup({
                error: AjaxError
            });
        });


        function deluser(username,fullname,userid){
            art.dialog({id:'msg',title:'提示',content:"是否将员工“"+username+":"+fullname+"”设置为“离职”状态？",icon:'warning',lock: true,cancel:true,ok:function(){
           	                     $j.post('/oa/userDelete/?userid='+userid,null,function(data){
                                    if(typeof data == 'string'){
                                        data=JSON2.parse(data);
                                    }
                                    if(data.success){
                                        result_alert2("succeed",data.message);
                                        $j('#del'+userid)[0].style['display']='none';
                                        $j('#open'+userid)[0].style['display']='block';
                                    }else{
                                        result_alert2("warning",data.message);
                                    }
                                 });
            }});
        }
        function openuser(username,fullname,userid){
            art.dialog({id:'msg',title:'提示',content:"是否将员工“"+username+":"+fullname+"”设置为“在职”状态？",icon:'warning',lock: true,cancel:true,ok:function(){
           	                     $j.post('/oa/userOpen/?userid='+userid,null,function(data){
                                    if(typeof data == 'string'){
                                        data=JSON2.parse(data);
                                    }
                                    if(data.success){
                                        result_alert2("succeed",data.message);
                                        $j('#del'+userid)[0].style['display']='block';
                                        $j('#open'+userid)[0].style['display']='none'
                                    }else{
                                        result_alert2("warning",data.message);
                                    }
                                 });
           	                 }});

        }
        function passworduser(username,fullname,userid){
            art.dialog({id:'msg',title:'提示',content:"是否将员工“"+username+":"+fullname+"”密码重置？",icon:'warning',lock: true,cancel:true,ok:function(){
           	                     $j.post('/oa/userPassword/?userid='+userid,null,function(data){
                                        if(typeof data == 'string'){
                                            data=JSON2.parse(data);
                                        }
                                        if(data.success){
                                            result_alert2("succeed",data.message);
                                        }else{
                                            result_alert2("warning",data.message);
                                        }
                                 });
           	                 }});
        }
        function deviceiduser(username,fullname,userid){
            art.dialog({id:'msg',title:'提示',content:"是否将员工“"+username+":"+fullname+"”设备指纹重置？",icon:'warning',lock: true,cancel:true,ok:function(){
           	                     $j.post('/oa/userDeviceid/?userid='+userid,null,function(data){
                                        if(typeof data == 'string'){
                                            data=JSON2.parse(data);
                                        }
                                        if(data.success){
                                            $j('#deviceid'+userid).html('以清空');
                                            result_alert2("succeed",data.message);
                                        }else{
                                            result_alert2("warning",data.message);
                                        }
                                 });
           	                 }});
        }

    </script>
</head>
<body>
<table id="userlistpage" width="100%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">

{% for u in userlist %}
<tr >
<td width="50px">{{ forloop.counter }}</td>
<td width="100px">{{ u.username }}</td>
<td width="80px">{{ u.get_full_name }}</td>
<td width="50px">{%if u.person.sex %}女{% else %}男{% endif %}</td>
<td width="100px">{{ u.person.tel }}</td>
<td width="80px">
    {% if u.person.depate  %}
        {% if u.person.depate.manager %}
            {% if u.department_manager  %}
                {% if u.person.depate and u.person.depate.fatherDepart %}
                    {{ u.person.depate.fatherDepart.manager.get_full_name }}:{{ u.person.depate.fatherDepart.name }}
                {% else %}

                {% endif %}
            {% else %}
                    {{ u.person.depate.manager.get_full_name }}:{{ u.person.depate.name }}
            {% endif %}
        {% else %}
            {{ u.person.depate.name }}
        {% endif %}
    {% else %}

    {% endif %}
</td>
<td width="80px">{% if u.department_manager %}{{ u.department_manager.name }}{% else %}{% endif %}</td>
<td width="100px" id="deviceid{{ u.pk }}" style="font-size: 9px;">{% if u.person.deviceid %}{{ u.person.deviceid }}{% else %}空{% endif %}</td>
<td width="90px"><a href="javascript:deluser('{{ u.username }}','{{ u.get_full_name }}','{{ u.id }}');" id="del{{ u.id }}" {%if not u.is_active %}style="display: none;" {% endif %} >在职状态</a><a href="javascript:openuser('{{ u.username }}','{{ u.get_full_name }}','{{ u.id }}');" id="open{{ u.id }}" {% if u.is_active %} style="display: none;" {% endif %}><span style="color: red;">离职状态</span></a></td>
<td>
    <a href="/oa/userAdd/?userid={{ u.id }}" target="mainFrame" title="更新"><img src="{{ STATIC_URL }}image/update.gif" border="0"/></a>
    <a href="javascript:passworduser('{{ u.username }}','{{ u.get_full_name }}','{{ u.id }}');"  title="重置密码"><img src="{{ STATIC_URL }}image/p3.gif" border="0"/></a>
    <a href="javascript:deviceiduser('{{ u.username }}','{{ u.get_full_name }}','{{ u.id }}');"  title="重置设备指纹"><img src="{{ STATIC_URL }}image/phone.jpg" width="20" border="0"/></a>
</td>
</tr>
{% endfor %}
</table>
</body>
</html>


