{% extends "base/basepage.html" %}
{% block js %}
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
{% endblock %}
{% block content %}
<form id="register"  method="post" action="/userAdd" onSubmit="checkTrue()">
<div>
{#    {% for i in num %}#}
{#    <div style="width: 100px;height: 100px;display: block;float: left;margin: 5px;">#}
{#        <a href="#"><img src="" alt="图标" width="80" height="80" border="0"></a>#}
{#        <div><a href="#">XX功能</a></div>#}
{#    </div>#}
{#    {% endfor %}#}
<div style="width: 100%;display: block;float: left;margin: 5px;text-align: left;">
<p style="width: 100%;float: left;">常用功能：</p>
<p style="float: left;margin:10px;"><a href="/oa/userQianDaoList/">签到导出</a></p>
<p style="float: left;margin:10px;"><a href="/oa/getScoreQuery/">考试导出</a></p>
<p style="float: left;margin:10px;"><a href="/oa/userXiaoShouList/">销售导出</a></p>


</div>
</div>
  
</form>
{% endblock %}